<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车实例练习</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>购物车</h1>
    <hr>
    <div id="app">
        <div>
            <input id="checkAll" type="checkbox" v-model="isAllSelected" @change="handleAllCheck">
            <label for="checkAll">全选</label>
        </div>
        <ul>
            <li v-for="data in datalist">
                <input type="checkbox" v-model="checkedGroup" :value="data" @change="handleLiCheck">
                {{data}}
                <span>
                    <button @click="sub(data)">-</button>
                    <input type="text" v-model="data.number">
                    <button @click="add(data)">+</button>
                </span>
            </li>
        </ul>
        <div>
            总金额为{{getAccount()}}元
        </div>
    </div>
    <script>
        //一般建议少用v-html  防止被攻击
        /**
        *程序思路要清晰，这样写代码就容易了
        *checkedGroup这个是v-model双向数据绑定的切入口，非常关键
        *用到数组的forEach方法遍历
        *用后台返回的购物车商品数据和选中的商品数长度对比
        **/
        var ele=new Vue({
            el:'#app',
            data:{
               isAllSelected:false,
               checkedGroup:[],
               datalist:[
                   {
                       id:1,
                       title:'1111',
                       number:1,
                       price:10
                   },
                   {
                       id:2,
                       title:'2222',
                       number:2,
                       price:20
                   },
                   {
                       id:3,
                       title:'3333',
                       number:3,
                       price:30
                   }
               ]
            },
            methods:{
                getAccount(){
                    console.log(this.checkedGroup)
                    let sum=0;
                    // for(let i=0;i<this.checkedGroup.length;i++){
                    //     sum += this.checkedGroup[i].number * this.checkedGroup[i].price
                    // }
                    // return sum
                    this.checkedGroup.forEach((item,index)=>{
                        console.log(item)
                        sum +=item.number*item.price
                    })
                    return sum
                },
                //全选
                handleAllCheck(){
                    console.log(this.isAllSelected)
                    let isAllSelected=this.isAllSelected
                    if(isAllSelected){
                        this.checkedGroup=this.datalist
                    }else{
                        this.checkedGroup=[]
                    }
                },
                //单选
                handleLiCheck(){
                    let checkedLength=this.checkedGroup.length
                    let dataLength=this.datalist.length
                    if(checkedLength===dataLength){
                        this.isAllSelected=true
                    }else{
                         this.isAllSelected=false
                    }
                },
                add(goodsInfo){
                    console.log(goodsInfo.number)
                    goodsInfo.number++
                    console.log(goodsInfo.number)
                },
                sub(goodsInfo){
                    
                    if(goodsInfo.number==1){
                        return
                    }
                    goodsInfo.number--
                }
            }
        })
    </script>
</body>
</html>