<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
    <h1>v-model</h1>
    <hr>
    <div id="app">
        <div>{{text}}</div>
        <input type="text" v-model="text">
        <input type="text" v-model.lazy="text">
        <input type="text" v-model.number="text">
        <input type="text" v-model.trim="text">
        <hr>
        <textarea name="" id="" cols="30" rows="10" v-model="text"></textarea>
        <hr>
        <input type="checkbox" id="isTrue" v-model="isTrue">
        <label for="isTrue">{{isTrue}}</label>
        <hr>
        <h4>多选框绑定</h4>
        <p>
            <input type="checkbox" id="a" value="a" v-model="web_name">
            <label for="a">aaa</label>
            <input type="checkbox" id="b" value="b" v-model="web_name">
            <label for="b">bbb</label>
            <input type="checkbox" id="c" value="c" v-model="web_name">
            <label for="c">ccc</label>
        </p>
        <div>{{web_name}}</div>
        <hr>
        <h4>单选框绑定</h4>
        <input type="radio" id="one" value="男" v-model="sex"/>
        <label for="one">男</label>
        <input type="radio" id="two" value="女" v-model="sex"/>
        <label for="two">女</label>
        <div>{{sex}}</div>
    </div>
    <script>
        //一
        var ele=new Vue({
            el:'#app',
            data:{
               text:'123',
               web_name:[],
               sex:'',
               isTrue:true
            }
        })
    </script>
</body>
</html>